/*****************
 ***Page Layout***
 *****************/

/*
Note: html, body, and articles set to 100% of window height
This allows for setting the sections to a % of height
*/

/*
Bug: Next button disappears on mobile view
*/

html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url('../img/background.png')
}

article {
	height: 100%;
}

#title {
	/*Center text vetically and horizontally*/
	position: absolute;
  top: 40%; /*A little shifted up*/
  left: 50%;
  transform: translate(-50%, -50%);
}

article#selection section {
	height: 75%;
}



/*****************
 *Initial Display*
 *****************/
article {
	display: none;
}

section {
	display: none;
}

/* First section of second article */
/* Will already be there when second article is shown*/
section#select-robot {
	display: block;
}

article#landing-page h1{
	display: none;
}

/*****************
 ***Page Styles***
 *****************/
#title {
	font-size: 150px;
}
